/* Estilos globales para el cuerpo del documento */
body {
    /* Tipo de letra utilizado */
    font-family: "Arsenal SC", sans-serif;
    /* Elimina los márgenes y el relleno por defecto */
    margin: 0;
    padding: 0;
    /* Color de fondo del sitio web */
    background-color: #0000;
    text-align: center;

}

/* Estilos para el encabezado */
header {
     font-family: "Bona Nova SC", serif;
    /* Color de fondo del encabezado */
    background-image: url("132.jpeg");
    /* Color del texto en el encabezado */
    color: #fff;
    /* Relleno interno del encabezado */
    padding: 1rem 0;
    /* Alineación del texto en el centro */
    text-align: center;
}
/* Estilos para la barra de navegación */
nav ul {
    /* Elimina el estilo de lista por defecto */
    list-style: none;
    /* Elimina el relleno interno */
    padding: 0;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Color de fondo de la barra de navegación */
    background-color: #F09D51;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los elementos de la lista en la barra de navegación */
nav ul li {
    /* Muestra los elementos en línea */
    display: inline;
    /* Elimina los márgenes */
    margin: 0;
}

/* Estilos para los enlaces en la barra de navegación */
nav ul li a {
    /* Color del texto del enlace */
    color: #000000;
    /* Relleno interno del enlace */
    padding: 0.5rem 1rem;
    /* Elimina el subrayado por defecto */
    text-decoration: none;
}

/* Estilos para el contenido principal */
main {
    /* Relleno interno del contenido principal */
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {
    font-family: "Poppins", sans-serif;
    /* Color de fondo del pie de página */
    background-color: #333;
    /* Color del texto en el pie de página */
    color: #B351F0;
    /* Alineación del texto en el centro */
    text-align: center;
    /* Relleno interno del pie de página */
    padding: 1rem 0;
    /* Fija el pie de página en la parte inferior de la página */
    position: fixed;
    bottom: 0;
    width: 100%;
}
        /* Estilos para el contenedor principal del slider */
        .slider-container {
            max-width: 800px;
            max-height: 800px;
            margin: 0 auto;
            position: relative;
            overflow: hidden
        }
        .slider-content {
            display: flex;
            transition: transform 1s ease;
            width: 80%; /* Ajusta el ancho según el número de imágenes */
        }
        
        }
        .slider-item {
        flex: 0 0 100%; /* Cada imagen ocupa el 100% del contenedor */
        }
        .slider-item img {
        width: 800px; /* Las imágenes se ajustan al ancho del contenedor */
        height: 800px;
        }
        .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        }
        .next {
        right: 0;
        border-radius: 3px 0 0 3px;
        }
        .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
        }
        /* Estilos para el contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Estilos para el contenido del menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F09D51;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Estilos para los enlaces dentro del menú desplegable */
.dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Mostrar el contenido del menú desplegable al hacer hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para los enlaces al pasar el mouse */
.dropdown-content a:hover {
    background-color: #B351F0;